// Callout styles are applied to wrapping elements to showcase thier content
// 
// .panel--success - Callout-1 modifier
// 
// Styleguide 4.1.0
// 

// Settings
// -------------------------------------------------------

@function callout-image-path($path) {
  @return component-path("nib-styles-callout", "images/#{$path}");
}

@function callout-image-url($path) {
  @return component-url("nib-styles-callout", "images/#{$path}");
}

// -------------------------------------------------------

.callout-1 {
  background: #fff right center no-repeat;
  border: 1px solid $border-color;

  &.panel--success {
    background-image: callout-image-url('icon-tick-circle-large-blue.png');
    padding-right: 72px;
  }
}

// Callout-2 default styles with added styling for a sub-title
// 
// .callout-2 - Callout style 
// 
// Styleguide 4.1.1

.callout-2 {
  background-size: 100%;
  background: callout-image-url('bg-rounded-square-pointer.png') no-repeat 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
  display: block;
  height: 40px;
  line-height: 0.9;
  margin-top: -4px;
  padding: 8px 12px 0 6px;
  width: 52px;

  .callout__sub-title {
    text-transform: uppercase;
    font-size: 11px;
  }
}

// Callout-3 default styles, applying a triangle at the bottom
// 
// .callout-3 - Callout style 
// 
// Styleguide 4.1.2

.callout-3 {
  border: 1px solid $border-color;
  position: relative;

  &:before, 
  &:after {
    content: '';
    display: block;
    left: 50%;
    margin-left: -12px;
    position: absolute;
  }

  &:before {
    @include triangle($direction: 'bottom', $width: 24px, $height: 7px, $color: $border-color);
    bottom: -7px;
  }

  &:after {
    @include triangle($direction: 'bottom', $width: 24px, $height: 7px, $color: #fff);
    bottom: -6px;
  }
}

// Callout used for testimonials and generic content on a green background
// 
// Styleguide 4.1.3

.callout-4 {
  @include border-box;
  background: rgba(#fff, 0.15);
  border: 1px solid rgba(#fff, 0.2);
  border-top-color: #add09c;
  color: #fff;
  display: block;
  padding: spacing(2);
  .no-rgba & {
    border: 0;
    border-top: 1px solid #fff;
    background: #268926;
  }
  .callout__title {
    font-size: size(3);
    color: #fff;
  }
}

// Callout used for "Did you know?" sections
// 
// Styleguide 4.1.4

.callout-5 {
  @include border-box;
  background: $lighter-grey;
  background: rgba(#fff, 0.7);
  border-top: 1px solid $light-green;
  display: block;
  padding: spacing(2);
  .callout__title {
    font-size: size(3);
    display: block;
    margin-bottom: spacing(1);
  }
  &.callout--reverse {
    background: #eee;
  }
}

// Callout used as a call to action for people to join
// 
// Styleguide 4.1.5

.callout-6 {
  @include clear-floats;
  @include border-box;
  background: $dark-grey;
  border-radius: 10px;
  color: #fff;
  display: block;
  padding: 0 140px 0 110px;
  position: relative;

  .callout__icon {
    left: -5px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

    .no-csstransforms &  {
      top: -14px; 
    }
  }

  .callout__body {
    @include improve-text-rendering;
    line-height: 20px;
    margin: spacing(2) 0;
  }

  .callout__body a {
    color: #fff;
    text-decoration: none;
  }
  .callout__action {
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (max-width: 800px) {
    border-radius: 0;
    padding: 0 140px 0 180px;

    .callout__icon {
      left: 60px;
    }
  }

  @media (max-width: 640px) {
    padding: 50px 80px 60px;

    .callout__icon {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -50px;
    }

    .callout__body {
      font-size: 13px;
      text-align: center;
    }

    .callout__action {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 30px;
      left: 50%;
      right: auto;
      top: auto;
    }
  }
}

// Callout used for banners on product pages
// 
// Styleguide 4.1.6
// 

.callout-7 {
  @include border-box;
  display: block;
  margin: 0 auto;
  position: relative;
  width: auto;

  &.callout--phi {
    @include retina-background-image(callout-image-path('phi-banner'), 'jpg', auto, 400px);
    background-position: top right;
    height: auto;

    @media (max-width: 640px){
      @include retina-background-image(callout-image-path('phi-banner-640'), 'jpg', auto, 400px);
    }

    @media (max-width: 480px){
      background-image: none !important;
    }
  }

  .callout__title {
    @extend .title-6;
    color: #444;
    font-size: size(10);
    font-weight: 200;
    line-height: 60px;
    margin-bottom: spacing(2);
    text-wrap:none;

    @media (max-width: 800px){
      font-size: 42px;
    }
  }

  .callout__body {
    background: rgba(#fff, 0.8);
    padding: spacing(3);
    text-align: center;

    strong {
      color: #444;
    }

    .no-rgba & {
      background: callout-image-url('white-80.png');
    }
  }
}